html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  font-family: Arial;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background: url("imgs/Aj65Cq.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.css-selector {
  /* #d64d42 */
  color: #f8b84d;
}

.css-brace {
  color: #6cdae5;
}

.css-attr {
  color: #b2cad6;
}

.css-val {
  color: #ea8151;
}

.line p i.css-val a {
  color: #ea8151;
}

.wall {
  display: flex;
  height: 100vh;
  background: transparent;
}

.container {
  position: relative;
  width: 100%;
  margin: 5px 20px 20px 10px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  overflow: hidden;
  border-radius: 5px;
  background: #222b33;
  box-shadow: inset 0 0.6px 0 rgba(255, 255, 255, 0.6),
    0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
}

/* Container for columns and the top "toolbar" */
.row {
  padding: 0px 10px 0 5px;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  height: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats {
  background: #1a68c7;
  height: 23px;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  color: rgba(103, 136, 158, 0.5);
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  font: caption;
  font-size: 12px;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.emoj {
  opacity: 1;
  color: black;
}

.stats i,
.stats .items:nth-child(2) p img {
  font-size: 15px;
  vertical-align: text-bottom;
}

.stats .items {
  flex: 1;
}

.stats .items:nth-child(2) {
  display: flex;
}

.stats .items:nth-child(2) {
  justify-content: flex-end;
}
.stats .items:nth-child(2) p {
  margin: auto 20px;
  letter-spacing: 0.3px;
  cursor: pointer;
  text-overflow: ellipsis;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  cursor: default;
}

h3 {
  font-weight: bolder;
  font-size: 18px;
  text-decoration: underline;
}

.line p,
.line a,
.line h3 {
  font: 14px "Fira Code";
  font-feature-settings: "calt" 1; /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
  word-break: break-all;
  white-space: nowrap;
}

.line p a {
  color: #666;
}

.left {
  width: 15%;
}

.right {
  width: 10%;
}

.middle {
  width: 75%;
  vertical-align: text-bottom;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Three dots */
.dot {
  margin-right: 3px;
  height: 13px;
  width: 13px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transform: scale(0.9);
}

.dot:hover::after {
  content: "";
  width: 5px;
  height: 5px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background: black;
  position: absolute;
}

.dev-title {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font: caption;
  font-size: 12px;
  cursor: default;
  user-select: none;
  width: 100%;
}
/* Style the input field */
input[type="text"] {
  width: 100%;

  border: none;
  background-color: white;
  margin-top: -8px;
  height: 25px;
  color: #666;
  padding: 5px;
}

/* Three bars (hamburger menu) */
.bar {
  width: 17px;
  height: 3px;
  background-color: transparent;
  margin: 3px 0;
  display: block;
}

/* Page content */
.content {
  padding: 0;
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.side-bar {
  height: 100%;
  display: flex;
  width: 23%;
  overflow: hidden;
  box-sizing: border-box;
}

.page {
  width: 77%;
  height: 75%;
  overflow: hidden;
  box-sizing: border-box;
}

/* Style tab links */
.tablink {
  background-color: transparent;
  color: rgba(103, 136, 158, 0.5);
  font: caption;
  user-select: none;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 11px 14px;
  font-size: 12px;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid transparent;
}

.tablink span {
  overflow: hidden;
  font-size: 13px;
  text-overflow: ellipsis;
  margin-left: 3px;
}

/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
  color: white;
  display: none;
  display: flex;
  flex-direction: column;
  padding: 18px 0px 18px 20px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

.comment {
  color: #666;
}
.img-file {
  margin-right: 5px;
}

.icon-bar {
  width: 20%;
  height: 75%;
  position: relative;
  background-color: transparent;
  display: flex;
  padding-top: 5px;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 5px 12px 5px 12px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
  transition: all 0.06s;
  -webkit-transition: all 0.06s;
  -moz-transition: all 0.06s;
  -ms-transition: all 0.06s;
  -o-transition: all 0.06s;
}

.icon-bar a img {
  width: 24px;
  opacity: 0.5;
}

.icon-bar a:last-child {
  position: absolute;
  bottom: 0px;
}

.icon-bar a.active {
  border-left: 2px solid #00aced;
  background: rgba(0, 0, 0, 0.1);
}
.icon-bar a.active img {
  opacity: 1 !important;
}

.icon-bar a:first-child {
  opacity: 0.8;
}
.icon-bar a img:hover {
  opacity: 1;
}

.tweets {
  width: 210px;
  overflow: hidden;
  position: relative;
  height: 75%;
  width: 80%;
  position: relative;
}

.tweets h4 {
  padding-top: 16px;
  color: rgba(103, 136, 158, 0.5);
  font: caption;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 11px;
  padding-left: 10px !important;
  padding-right: 0;
  display: block;
  background: #212830;
  width: 100%;
  cursor: default;
  user-select: none;
  padding-bottom: 10px;
  overflow-x: hidden;
}

#tweets-by-kaustubh {
  height: 95%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.06);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  box-shadow: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: none;
  border-radius: 0;
}

#kaustubh {
  margin: 10px auto;
  width: 120px;
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

p.bio {
  display: table;
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
  word-break: keep-all;
}

.line {
  display: flex;
  font-size: 15px;
  margin-bottom: 2px;
  white-space: nowrap;
}
.line p {
  width: 100%;
}

#News .line p:hover,
#Contact .line p:hover {
  background: rgba(0, 0, 0, 0.15);
}

.line span:first-child {
  width: 14px;
  color: rgba(255, 255, 255, 0.2);
  font-family: "Fira Code", sans-serif;
  font-size: 13px;
  margin-right: 10px;
  cursor: default;
  user-select: none;
}
h2 {
  font-family: Fira Code;
  font-feature-settings: "calt" 1; /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
  white-space: pre-wrap;
  word-break: break-all;
  display: table;
  font-weight: 500;
  margin: 20px auto;
  font-size: 2em;
}

.location {
  color: rgba(255, 255, 255, 0.5);
}

.location img {
  vertical-align: text-bottom;
}

@media all and (max-width: 750px) {
  .container {
    width: 90%;
  }
  .tweets {
    display: none;
  }

  .side-bar {
    width: 50px;
  }
  .icon-bar {
    width: 58px;
  }
}

.card-img {
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* modifications */

#i-medium {
  width: 28px;
}


/**Docker style **/
#dock-container {
  position: fixed;
  bottom: 0;
  text-align: center;
  right: 20%;
  left: 20%;
  width: 60%;
  background: rgba(255, 255, 255, 0.596);
  border-radius: 10px 10px 0 0;
}
#dock-container li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}
#dock-container li img {
  width: 64px;
  height: 40px;
  -webkit-box-reflect: below 2px
            -webkit-gradient(linear, left top, left bottom, from(transparent),
            color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
}

#dock-container li:hover img { 
  -webkit-transform: scale(2);
  margin: 0 2em;
}
#dock-container li:hover + li img,
#dock-container li.prev img {
  -webkit-transform: scale(1.5);
  margin: 0 1.5em;
}
#dock-container li span {
  display: none;
  position: absolute;
  bottom: 140px;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  padding: 0px 0;
  border-radius: 12px;
}
#dock-container li:hover span {
  display: block;
  color: #fff;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

